:root {
  --primary-color: #2f4858;
  --seconday-color: #9ee493 ;
  --accent1: #86bbd8;
  --accent2: #336699;
}

h1,
h2,
h3 {
  font-family: 'Climate Crisis', cursive;

}
p {
  font-family: 'Gloock', serif;
}
.hero {
  background-image: url('../images/hero-image.jpg');
  display: flex;
  flex-direction: column;
  height: 900px;
  align-items: center;
  padding-top: 100px;
}

nav {
	display: flex;
	flex-direction: column;
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  z-index: 1;
 
}

nav div {
	flex: 1 1 auto;
}
nav img {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: var(--accent1);
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: var(--seconday-color);
	color: var(--accent2);
}
.footer {
  background-color: var(--primary-color);
  color: var(--accent1);
  text-align: center;
  padding: 10px;
  font-size: 15px;
}
.main-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  padding-top: 100px;
}
.persona-block{
  display: flex;
  flex-direction: row;
}
.persona {
  padding: 10px;
  background-color: var(--seconday-color);
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
}
.colored {
  background-color: var(--seconday-color);
  margin-bottom: 20px;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
}
.colored h2 {
  color: var(--accent1);
}
.colored p {
  color: var(--accent2);
}
.no-colored{
  
  margin-bottom: 20px;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
}

table {
 background-color: black;
  color: white;
  padding: 15px;
  border-radius: 4px;
}
.primary {
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
}
.secondary {
  background-color: var(--seconday-color);
  padding: 5px;
  border-radius: 5px;
}
.accent1 {
  background-color: var(--accent1);
  padding: 5px;
  border-radius: 5px;
}
.accent2 {
  background-color: var(--accent2);
  padding: 5px;
  border-radius: 5px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction:column;
  }
  nav a {
		font-size: 0.5rem;
	}
  .logo {
	display: none;

}
.persona-block{
  flex-direction: column;
}
.photo{
  width: 100%;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  nav {
    flex-direction: column;
  }
  nav a {
		font-size: 0.8rem;
	}
  .logo {
	display: none;
}
.persona-block{
  flex-direction: column;
}
.photo{
  width: 100%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }
  nav a {
		font-size: 0.8rem;
	}
  .logo {
	display:block;
}
.persona-block{
  flex-direction: row;
}
.photo{
  width: 400px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav {
    flex-direction: row;
  }
  nav a {
		font-size: 1.1rem;
	}
  .logo {
	display:block;
}
.persona-block{
  flex-direction: row;
}
.photo{
  width: 400px;
}
}
