@media screen and (max-width: 900px) {
  #hero,
  .home-grid,
  .content-home {
    display: block;
    height: auto;
  }
  nav,
  footer {
    flex-direction: column;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  .home-title {
    font-size: 25px;
    color: #6f7364;
  }

  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 50px auto;
    width: 60%;
  }
  #background {
    display: none;
  }
  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }
}

@media screen and (max-width: 500px) {
  #menu {
    display: block;
  }
  .navigation {
    display: none;
    padding: 15px;
  }
  #hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0px;
  }
  #hero-box {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: -1;
  }
  #hero-img {
    width: 100%;
    height: auto;
  }
  #hero-msg {
    grid-column: 1/3;
    grid-row: 1/3;
    margin-top: -35px;
    z-index: 1;
  }
  #hero-msg h4 {
    color: white;
  }
  .home-title {
    color: var(--accent1-color);
  }

  .msg {
    background-color: black;
    line-height: 1.5em;
    padding: 35px;
  }
  .book,
  .join {
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 10px;
  }

  .content-home {
    width: 95%;
  }
  .info-block {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .info-title {
    font-size: 1.8rem;
  }
  .events {
    color: var(--accent2-color);
    font-size: 2.5rem;
  }
  .prices-block {
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .combo1,
  .combo2,
  .combo3 {
    height: 500px;
    width: 95%;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
  }
  .combo1 p,
  .combo2 p {
    color: var(--accent2-color);
    font-size: 1.3rem;
  }
  .footer-life {
    display: flex;
    flex-direction: column;
  }
  .footer-text {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .footer-copy {
    font-size: 1.2rem;
    line-height: 25px;
  }
  .content-sidebar {
    display: flex;
    flex-direction: column;
  }
  /* gridbox */
.grid-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.grid-card {
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
}
/* List grid */
.list-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-card {
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  width: 85%;
}
.hidden {
  display: none;
}
#banner {
  height: 140px;
  background-color: var(--accent1-color);
  border: var(--terceary-color) 8px solid;
}
#banner h2 {
  font-size: 1rem;
}
.grid-spotlight {
  flex-direction: column;
}
}
